#btn-ddl img {
	width: 1.4em;
	/*height: 1em;
	margin: 1em;*/
	filter: invert(100%);
}

#btn-ddl {
	position: absolute;
	right: 0;
	padding: 10px;
	background-color: #00d8ae;
	border-radius: 4px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	border: none;
}

.bg-dark {
	background-color: #ffffff;
}

.navbar {
	position: absolute;
	border-bottom: 1px solid lightgrey;
	opacity: 0.8;
	background-color: red;
	filter: alpha(opacity=80);
}

#gw-img {
	width: 7em;
}

/* ---- Background Photo ---- */

.bg-img {
	background-image: url('https://images.pexels.com/photos/2707756/pexels-photo-2707756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-position: 50% 25%;
	background-attachment: fixed;
	transform: translateZ(-1px);
	perspective: 1000px;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	vertical-align: middle;
	background-color: #162044;
	padding-top: 21em;
	padding-bottom: 21em;
	text-align: center;
	text-shadow: 2px 0px 4px #686868;
	/*height: 25em;*/
}

.gw-heading {
	font-size: 5em;
	/*background-color: red;*/
	width: 100%;
	/*-webkit-text-stroke: 0.2px black;*/
}

.mbm {
	/*mix-blend-mode: overlay;*/
}

#gr-hl {
	color: #00d8ae;
	display: inline-block;
	mix-blend-mode: normal;
}

.example {
	/*background-color: red;*/
}