#btn-ddl img {
	width: 1.4em;
	/*height: 1em;
	margin: 1em;*/
	/*filter: invert(100%);*/
}

#btn-ddl {
	position: absolute;
	right: 0;
	padding: 10px;
	background-color: white;
	border-radius: 4px;
	/*margin-top: 8px;*/
	margin-right: 0.25em;
	margin-bottom: 8px;
	border: none;
}

.bg-dark {
	background-color: #ffffff;
}

.navbar {
	position: absolute;
	/*border-bottom: 1px solid lightgrey;*/
	filter: alpha(opacity=40);
	opacity: 0.4;
	-webkit-transition: opacity 0.4s, filter;
}

.navbar:hover {
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.4s;
}

#gw-img {
	padding-left: 0.5em;
	width: 7em;
	transform: scale(1);
	-webkit-transition: transform 0.4s;
}

#gw-img:hover {
	transform: scale(1.2);
	-webkit-transition: transform 0.25s;
}

/* ---- Background Photo ---- */

.parallax {
	background-attachment: fixed;
	transform: translateZ(-1px);
	background-size: 100%;
	background-repeat: no-repeat;
}

.bg-img {
	background-image: url('https://images.pexels.com/photos/2707756/pexels-photo-2707756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-position: 50% 25%;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	vertical-align: middle;
	padding-top: 19em;
	padding-bottom: 19em;
	text-align: center;
	text-shadow: 2px 0px 4px #686868;
	box-shadow: 0px 0px 5px black;
	/*background-color: #162044;*/
}

.gw-heading {
	font-size: 500em;
	/*background-color: red;*/
	width: 100%;
	/*-webkit-text-stroke: 0.2px black;*/
}

.mbm {
	/*mix-blend-mode: overlay;*/
}

#gr-hl {
	color: #00d8ae;
	display: inline-block;
	mix-blend-mode: normal;
}

/* ---- Instructions Part ----*/

.inst {
	font-size: 1.5rem;
	color: #333333;
}

/* ---- Steps ---- */

.step {
	margin-top: 1em; 
	margin-bottom: 2em;
	background-color: white;
	color: #333333;
	font-size: 1.5rem;
}

#num {
	font-size: 2em;
}

/* ---- Example Video ---- */

.vid {
	box-shadow: 0px -15px 25px 25px #00d8ae;
	background-color: #00d8ae;
	color: white;
	padding-top: 1em;
	/*display: block;*/
}

.v-title {
	padding-bottom: 20rem;
}

.video {
	padding-top: 2em;
	width: 100%;
	height: 60em;
}

/* ---- Random Classes ----*/

.circle {
	/*background-color: red;*/
	display: inline-block;
	border: 8px double #00d8ae;
	font-size: 2em;
	/*width: 2em;*/
	padding-right: 0.5em;
	padding-left: 0.5em; 
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	border-radius: 100%;
}

.square {
	background-color: red;
	/*display: inline-block;*/
	padding-left: 5em;
	margin-top: 20em;
}

.pd {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.example {
	/*background-color: red;*/
}

.banana {
	background-image: url(https://images.pexels.com/photos/1556796/pexels-photo-1556796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	color:white;
	margin:0px;
	padding:0;
}