/* ---- Challenges Containers ---- */
.ch {
	width: 20rem;
	height: 20rem;
	font-size: 1.5rem;
	background-color: lightgray;
	margin: 1rem;
	margin-top: 2.5rem;
	position: relative;
	display: inline-flex;
	flex-direction: column-reverse;
	border-radius: 20px;
}

.a {
	background-image: url('https://images.pexels.com/photos/802221/pexels-photo-802221.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 160%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px black;
}

.b {
	background-image: url('https://images.pexels.com/photos/2747421/pexels-photo-2747421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 150%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px black;
}

.c {
	background-image: url('https://images.pexels.com/photos/589802/pexels-photo-589802.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: 150%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px black;
}

.ch-text {
	color: white;
	width: 100%;
	border-radius: 20px;
}

.cont-ch {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	padding-bottom: 0%;
	/*margin-top: 0%;*/
	-webkit-transition: padding-bottom 0.25s, margin-top 0.25s;
}

.cont-ch:hover {
	padding-bottom: 33.75%;
	-webkit-transition: padding-bottom 0.5s, background-color 0.5s, mix-blend-mode 0.5s;
}
.sh {
	margin: 1rem;
	font-size: 1.25rem;
	/*border-radius: 10px;*/
	/*border: 2px solid black;*/
	/*box-shadow: 0px 0px 10px black;*/
}

.info {
	margin-top: 2rem;
}

/* ---- INFORMATION FORUM ---- */
input[type=text] {
	border-radius: 10px;
	border: 2px solid #00d8ae;
	margin-left: 1em;
	box-shadow: 10px 10px 10px -10px gray;
	transform: scale(1);
	-webkit-transition: background-color 0.5s, color 0.5s, transform 0.5s, box-shadow 0.5s, margin-left 0.5s;
}

input[type=text]:active {
	/*background-color: lightgray;*/
	/*color: white;*/
	/*transform: scale(1.2);*/
	-webkit-transition: background-color 0.05s, color 0.05s, transform 0.05s, box-shadow 0.05s, margin-left 0.1s;
}

input[type=text]:focus {
	color: #00d8ae;
	transform: scale(1.05);
	box-shadow: 10px 10px 10px gray;
	-webkit-transition: background-color 0.1s, color 0.1s, transform 0.1s, box-shadow 0.1s, margin-left 0.1s;
}

.inp-btn {
	border-radius: 8px;
	display: inline-block;
	border: 2px solid #00d8ae;
	box-shadow: 10px 10px 10px -10px gray;
	outline: none;
}

input {
	outline: none;
}

.inp-btn:active {
	background-color: gray;
	transform: scale(0.98);
	box-shadow: 10px 10px 10px gray;
}