<!DOCTYPE html>
<html>
<head>
	<!-- Local CSS File  -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ch_css.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ch_list_css.css') }}">

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>GivingWay</title>
</head>
<body>
	<!-- GivingWay Header -->
	<!-- Navigation Bar -->
	<nav class="navbar navbar-expand-md">
		<!-- Brand -->
		<a class="navbar-brand" href="https://www.givingway.com/"><img id="gw-img" src="{{ url_for('static', filename='dark.png') }}"></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon">
			 	<button id="btn-ddl"><img src="https://image.flaticon.com/icons/png/512/56/56763.png"></button>
			 	</span>
		</button>
	</nav>

	<div class="container">
		<div class="display-3 text-center">
			Choose A Challenge
		</div>
		<!-- The Challenges -->
		<center>
			<div class="ch text-center a"><span class="ch-text cont-ch">1<br>Recycle at least 14 kilograms of plastic bottles.</span></div>
			<div class="ch text-center b"><span class="ch-text cont-ch">2<br>Volunteer at least 10 hours at <br>food shelters/animal shelters</span></div>
			<div class="ch text-center c"><span class="ch-text cont-ch">3<br>Plant at least 10 trees with daily nourish and care.</span></div>
		</center>
		<!-- The Forum -->

		<div class="small-title text-center">
			Submit Your Information
		</div>
		<form action="/ch-sub" method="post" class="info">
			<div class="row text-center">
				<div class="col sh">
					First name: <input type="text" name="fname">
				</div>
				<div class="col sh">
				Last name: <input type="text" name="lname">
				</div>
			</div>
		
			<div class="row text-center">
				<div class="col sh">
					Challenge Number: 
				</div>
				<div class="col sh">
					<input type="radio" name="ch-num" value=1>1
				</div>
				<div class="col sh">
					<input type="radio" name="ch-num" value=2>2
				</div>
				<div class="col sh">
					<input type="radio" name="ch-num" value=3>3
				</div>
			</div>
		
			<div class="row text-center">
				<!-- <div class="col sh">
					Video: <input type="file" name="video">
				</div> -->
				<div class="col sh">
					<input type="submit" value="Submit">
				</div>
			</div>
		</form>

	</div>

	<!-- ONLINE TRAJECTORIES AND LIBRARIES -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Script File -->
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='ch_list_js.js') }}"></script> -->
</body>
</html>